body{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.navbar{
  position: fixed;
  height:60px;
  overflow:hidden;
  top:0;
  display: flex;
  align-items: center;
  background: #dfe6e9;
  width: 100%;
  z-index: 9999;
  font-family: 'Holtwood One SC', serif;
}
.logo{
  float: left;
  margin-left: 30px;
  color: black;
  font-size: 25px;
  font-family: 'Holtwood One SC', serif;
  background-size: contain;
}
.menu{
  position: absolute;
  right: 20px;
}
.menu a{
  color: black;
  text-decoration: none;
  font-weight: 700;
  margin-left:20px;
  transition: color 0.3s;
}
img {
  background-repeat:no-repeat;
  margin-top: 60px;
  opacity: 0.9;
  background-size: cover;
  background-position: center;
  /* height: 25%; */
}
.header{
  text-align: center;
  color: black;
}
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 50px;
  font-family: 'Holtwood One SC', serif;
  font-style: italic;
}
.menu a:hover{
  color: #c0392b
}
#result{
  border-style: solid;
  text-align: center;
  border-width: thin;
  font-family: 'Roboto Slab', serif;
  border-radius: 20px;
  margin-top: 90px;
  background-color: white;
  display: none;
  /* display: none; */
  }
.output{
  border-style: solid;
  border-radius: 20px;
  border-width: thin;
  width: 200px;
  margin-left: 27%;
}
input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}
#calculate{
  border-style: solid;
  border-width: thin;
  border-radius: 10px;
  width: 100%;
  height: 600px;
  background-color: #dfe6e9;
}
select{
  width: 220px;
}
#form{
  padding-left: 90px;
  margin-top: 80px;
  font-family: 'Roboto Slab', serif;
  font-size: 20px;

}
#form input{
  border-radius: 5px;
}
h1{
  font-family: 'Oswald', sans-serif;
}
